{% extends 'base.html' %}
{% block page-main %}
<h2 class="sub-header">客户列表</h2>
{#    添加用户按钮 #}
<div>
{#    <a href="{% url 'add_customer' %}" class="btn btn-success btn-sm">添加</a>#}
<a href="{% url 'add_customer' %}?next={{ request.get_full_path }}" class="btn btn-success btn-sm">添加</a>
    <div class="col-md-4 pull-right">
        <form action="" method="get" enctype="application/x-www-form-urlencoded">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="模糊搜索 ...">
                <span class="input-group-btn">
        <button class="btn btn-default" type="submit">搜索</button>
      </span>
            </div><!-- /input-group -->
        </form>
    </div>
</div>
    <form action="" method="post">
    {% csrf_token %}
    <div class="col-md-3" style="margin: 5px 0">
        <div class="input-group">
            <select class="form-control" name="action">
                <option value="">---------</option>
                <option value="to_public">变为公户</option>
                <option value="to_private">变为私户</option>
                <option value="delete">删除</option>
            </select>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th style="width: 20px">操作</th>
            <th style="width: 20px">#</th>
            <th style="width: 80px">QQ</th>
            <th style="width: 80px">QQ昵称</th>
            <th style="width: 60px">姓名</th>
            <th style="width: 80px">电话</th>
            <th style="width: 90px">客户来源</th>
            <th style="width: 120px">咨询课程</th>
            <th style="width: 60px">招生老师</th>
            <th style="width: 60px">班级类型</th>
            <th style="width: 60px">状态</th>
            <th style="width: 100px">咨询日期</th>
            <th style="width: 120px!important;">已报班级</th>
            <th style="width: 20px!important;">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customer_list %}
        <tr>
            <td><input type="checkbox" name="cid" value="{{ customer.id }}"></td>
            <td>{{ forloop.counter }}</td>
            <td>{{ customer.qq }}</td>
            <td>{{ customer.qq_name }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.phone|default:'暂无' }}</td>
            <td>{{ customer.get_source_display }}</td>
            <td>{{ customer.course }}</td>
            <td>{{ customer.consultant|default:'暂无' }}</td>
            <td>{{ customer.get_class_type_display }}</td>
            <td>{{ customer.show_status|default:'暂无'}}</td>
            <td>{{ customer.date|date:'Y-m-d' }}</td>
            <td>{{ customer.show_class_list|default:'暂无' }}</td>
            <td><a href="{% url 'edit_customer' customer.id %}"><i class="fa fa-edit"
                                                                           aria-hidden="true"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ page_html|safe }}
    </div>
</div></div>
        </form>

{% endblock %}